i<!-- outputting schedule from code -->
<!DOCTYPE html>

<html>

<head>
  <title>bronco buddy: schedule results</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- link the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css" />

</head>

<body>
  <nav class="resultsNav">
    <a href="index.html">home</a>
  </nav>

  <!-- schedule output section -->
  <div class="schedule">
    <div class="scheduleTitle">
      <h1 id="title">here's your schedule for the next week!</h1>
    </div>
  </div>

  <div class="days">
    <h1 id="daysText">monday: </h1>
    <!-- link from javascript algorithm -->
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
  </div>

  <div class="days">
    <h1 id="daysText">tuesday:</h1>
    <!-- link from javascript algorithm -->
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
  </div>

  <div class="days">
    <h1 id="daysText">wednesday:</h1>
    <!-- link from javascript algorithm -->
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
  </div>

  <div class="days">
    <h1 id="daysText">thursday:</h1>
    <!-- link from javascript algorithm -->
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
  </div>

  <div class="days">
    <h1 id="daysText">friday:</h1>
    <!-- link from javascript algorithm -->
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
  </div>

  <div class="days">
    <h1 id="daysText">saturday:</h1>
    <!-- link from javascript algorithm -->
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
  </div>

  <div class="days">
    <h1 id="daysText">sunday:</h1>
    <!-- link from javascript algorithm -->
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
    <h2 id="daysText"> start time: end time -blank assignment- </h2>
  </div>

</body>

</html>