i<!-- outputting schedule from code -->
<!DOCTYPE html>

<html>

<head>
  <title>bronco buddy: schedule results</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- link the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css" />

</head>

<body>
  <nav class="resultsNav">
    <a href="index.html">home</a>
  </nav>

  <!-- schedule output section -->
  <div class="schedule">
    <div class="scheduleTitle">
      <h1 id="title">here's your schedule for the next week!</h1>
    </div>
  </div>

  <div id="dataOutput"></div>

  <script src="./schedule.js"></script>

</body>

</html>
