/* styling for all pages */

body {
  background-color: #5e3023;
  padding-bottom: 100px;
  text-align: center;
}

#title,
#titleName {
  color: #CAC2B5;
  font-family: Courier;
  text-align: center;
  font-size: 100px;
  text-decoration: none;

}

/* NAV BARS */

/*.mainNav a {
  font-size: 50px;
  float: left;
  color: #CAC2B5;
  text-align: center;
  text-decoration: none;
  border: 0px;
}

.mainNav a:hover {
  font-size: 50px;
  text-underline-position: under;
  text-decoration-thickness: 5px;
  border: 5px solid #CAC2B5;
}
*/

.navBarHome {
  text-align: center;
  justify-content: center;
}

.mainNav a {
  font-family: Courier;
  font-size: 60px;
  float: center;
  color: #CAC2B5;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  text-decoration: none;
  border: 0px;
  margin: auto;
}

.mainNav a:hover {
  font-family: Courier;
  font-size: 60px;
  float: center;
  color: #CAC2B5;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  text-decoration: none;
  border: 5px solid #CAC2B5;
}

/* nav bar for results page */
.resultsNav a {
  font-family: Courier;
  font-size: 60px;
  float: left;
  color: #CAC2B5;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  border: 0px;
}

.resultsNav a:hover {
  font-family: Courier;
  font-size: 60px;
  float: left;
  color: #CAC2B5;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 10px;
  margin-left: 10px;

  text-decoration: none;
  border: 5px solid #CAC2B5;
}

/*HOME PAGE */
.logo {
  max-width: 70%;
  max-height: auto;
}

.logoAlign {
  text-align: center;
}

.scheduleResultsButton {
  font-size: 25px;
  font-family: Times New Roman;
  /*upload font*/
  color: #CAC2B5;
}

/* SCHEDULE RESTULS PAGE */
.schedule {
  background-color: #5e3023;
}

.days {
  color: #CAC2B5;
  border: 5px solid #CAC2B5;
  padding-top: 10px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #5e3023;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 75px;
  margin-bottom: 75px;
}

#daysText {
  font-size: 60px;
  font-family: Times New Roman;
  /*upload font*/
  color: #CAC2B5;
  text-align: left;
}


.algResults {
  font-size: 60px;
  font-family: Times New Roman;
  color: #CAC2B5;
  text-align: left;
}

/* survey page next buttons */

.next a {
  font-family: Courier;
  font-size: 60px;
  color: #CAC2B5;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  text-decoration: none;
  border: 0px;
}

.next a:hover {
  font-family: Courier;
  font-size: 60px;
  color: #CAC2B5;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  text-decoration: none;
  border: 5px solid #CAC2B5;
}

#schedTime {
  font-family: Courier;
  font-size: 50px;
  float: center;
  color: #CAC2B5;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  text-decoration: none;
  border: 0px;
  margin: auto;
}

#submitButton {
  font-family: Courier;
  font-size: 60px;
  float: center;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  text-decoration: none;
  border: 0px;
  margin: auto;
}

/* input work page */
.inputs {
  color: #CAC2B5;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #5e3023;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 75px;
  margin-bottom: 75px;
}

#descriptions {
  font-size: 60px;
  font-family: Courier;
  color: #CAC2B5;
  text-align: center;
  padding-top: 25px;
}

#assignmentType,
#assignmentName,
#assignmentTime,
#assignmentDay {
  font-size: 50px;
  font-family: Courier;
  color: #5e3023;
  text-align: center;
}

.inputs label {
  font-size: 50px;
  font-family: Courier;
  color: #CAC2B5;
  text-align: left;
}